<div class="scrollable" ng-controller="HomeCtrl">
    <div class="scrollable-content">
        <div class="list-group text-center">
            <div class="list-group-item list-group-item-home">
                <div>
                    <h1> <small>【挠挠】今天已经出生</small></div></h1>
                    <div class="text-primary"><strong>{{ age.day }}天{{ age.hour }}小时{{ age.minutes }}分钟</strong></div>
                </div>
                <div class="list-group-item list-group-item-home" ng-repeat="note in latest">
                    <p class="text-left lead text-info">
                        <strong>{{note.name}}</strong> <small>发表于 {{note.publish_time}}</small>
                    </p>
                    <p ng-if="note.type=='text'">
                        {{note.content}}
                    </p>
                    <p ng-if="note.type=='image'">
                        <img style="width:100%" ng-src="{{note.content}}">
                    </p>
                </div>
            </div>
        </div>
    </div>
